/*BODY*/
/*NAVBAR*/
.navbar-default {
  background-color: #2b2b2b !important;
  border: none !important;
  color: white;
}
.navbar-default a {
  color: white !important;
}
.navbar-default a:hover {
  background-color: #4c4c4c !important;
}
.navbar-default .capitalize {
  text-transform: capitalize;
}
/* ERROR */
#error h3 {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}
/*DASHBOARD*/
#dashboard {
  min-height: 100vh;
  top: -20px;
  position: relative;
  padding-top: 20px;
}
#dashboard [class*="col-"] {
  padding-right: 5px !important;
  padding-left: 5px !important;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
#dashboard .col-md-1 h2 {
  font-size: 150% !important;
}
#dashboard .panel {
  border: none;
}
/*WIDGET*/
#dashboard #todo li:hover,
#dashboard #done li span {
  text-decoration: line-through;
}
#dashboard #done li span:hover {
  text-decoration: none;
}
#dashboard .panel-heading {
  border: none;
}
#dashboard .panel-heading:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#dashboard .panel-heading ul {
  padding-left: 0;
}
#dashboard .panel-heading ul li {
  cursor: pointer;
  list-style: none;
}
#dashboard .panel-heading ul .fa {
  padding-right: 15px;
}
#dashboard .panel-heading h3 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}
#dashboard .panel-heading .resize {
  float: right;
}
#dashboard .panel-heading .resize .fa {
  cursor: pointer;
}
#dashboard #tasks li .deleteTodo {
  float: right;
  display: none;
}
#dashboard #tasks li:hover .deleteTodo {
  display: block;
}
#dashboard #weather h2 {
  font-size: 200%;
  margin-top: 0;
  display: inline-block;
}
#dashboard #weather input[type="text"] {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #2b2b2b;
  border-radius: 0px;
  font-size: 85%;
  padding: 0;
}
#dashboard #catGif img {
  width: 100%;
}
/*SETTINGS*/
input[type="color"] {
  border: none;
  padding: 0px;
}
/*FOOTER*/
