/*BODY*/

/*NAVBAR*/
.navbar-default{
	background-color: #2b2b2b !important;
	border: none !important;
	color: white;

	a{
		color: white !important;
	}
	a:hover{
		background-color: #4c4c4c !important;
	}

	.capitalize{
		text-transform: capitalize;
	}
}

/* ERROR */
#error h3{
	margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
}

/*DASHBOARD*/
#dashboard{
	min-height: 100vh;
	top: -20px;
    position: relative;
    padding-top: 20px;

	[class*="col-"]{
		padding-right: 5px !important;
		padding-left: 5px !important;
		-moz-hyphens:auto;
	   -ms-hyphens:auto;
	   -webkit-hyphens:auto;
	   hyphens:auto;
	   word-wrap:break-word;
	}
	.col-md-1 h2{
		font-size: 150% !important;
	}
	.panel{
		border: none;
	}
}

/*WIDGET*/
#dashboard #todo li:hover, #dashboard #done li span{
	text-decoration: line-through;
}
#dashboard #done li span:hover{
	text-decoration: none;
}
#dashboard{
	.panel-heading{
		border: none;

		h3{
			font-weight: bold;
			font-size: 20px;
			margin-top: 0px;
    		margin-bottom: 0px;
    		display:inline-block;
		}
		.resize{
			float: right;

			.fa{
				cursor: pointer;
			}
		}
	}

	#tasks{
		li{
			cursor: pointer;
			list-style-type: circle;

			.deleteTodo{
				float:right;
				display: none;
			}
		}
		li:hover{
			.deleteTodo{
				display: block;
			}
		}

	}

	#weather{
		h2{
			font-size: 200%;
			margin-top: 0;
			display: inline-block;
		}
		input[type="text"] {
			    border: none;
			    box-shadow: none;
			    border-bottom: 1px solid #2b2b2b;
			    border-radius: 0px;
			    font-size: 85%;
			    padding: 0;
		}
	}

	#catGif{
		img{
			width: 100%;
		}
	}
}

/*SETTINGS*/
input[type="color"] {
	border: none;
	padding: 0px;
}

/*FOOTER*/