<div class="move">
	<div class="panel panel-default widget" id="grocery">
	          	<div class="panel-heading" ng-style="widgetHeader">
	          		<h3>Grocery List</h3>
	          		<div class="resize">
	          			<i class="fa fa-window-restore" aria-hidden="true" ng-click="changeSize(groceryListWidget.id, groceryListWidget.size); groceryListWidget.size = newWidgetSize;" data-toggle="tooltip" title="Resize widget" onmouseenter="$(this).tooltip('show')"></i>
	          		</div>
	          	</div>
	          	<div class="panel-body" ng-style="widgetBody">
	          		<p ng-hide="groceries.length">No groceries on your list</p>
	          		<ul>
						<li ng-repeat="grocery in groceries" reload-packery>
							<i class="fa fa-shopping-basket" aria-hidden="true"></i>
							<span ng-click="deleteGrocery(grocery.id)">{{grocery.item}}</span>
						</li>
					</ul>
					<button type="button" class="btn btn-primary btn-block" ng-style="buttonStyle" ng-click="deleteAllGroceries()" ng-show="groceries.length">Bought everything</button>
					<form ng-submit="postGrocery(groceryForm.item)">
					  <div class="input-group">
					      <input type="text" ng-model="groceryForm.item" id="addGrocery" name="grocery" class="form-control" placeholder="Add a grocery">
					      <span class="input-group-btn">
					        <button class="btn btn-secondary" type="submit" ng-style="buttonStyle"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
					      </span>
				    </div>
					</form> 
	          	</div>
	        </div>
</div>