<div class="col-md-3 move" id="{{todoId}}" ng-if="showTodo" data-place="{{todoPlace}}">
	<div class="panel panel-default" id="tasks">
	          	<div class="panel-heading">To do</div>
	          	<div class="panel-body"  id="todo">
					<ul>
						<li ng-repeat="task in todos" ng-if="task.done==0"><a href="" ng-click="toggleDone(task.id)">{{task.todo}}</a><i class="fa fa-btn fa-times" ng-click="deleteTodo(task.id)"></i></li>
					</ul>
					<form>
					  <input type="text" ng-model="todoForm.todo" id="addTodo" name="todo">
					  <input type="submit" value="Add" ng-click="postTodo(todoForm.todo)">
					</form> 
	          	</div>
	          	<div class="panel-footer" id="done">
	          		<ul>
						<li ng-repeat="task in todos" ng-if="task.done==1"><a href="" ng-click="toggleDone(task.id)">{{task.todo}}</a><i class="fa fa-btn fa-times" ng-click="deleteTodo(task.id)"></i></li>
					</ul>
	          	</div>
	        </div>
</div>