<div class="col-md-1 move" id="{{weatherId}}" ng-if="showWeather" data-place="{{weatherPlace}}">
	<div class="panel panel-default widget" id="weather">
	          	<div class="panel-heading">Weather</div>
	          	<div class="panel-body">
	          		<h2 ng-hide="editingWeather" ng-click="editingWeather = true">{{weather.name}}</h2>

	          		<form ng-show="editingWeather" ng-submit="editingWeather = false">
	          			<h2><input type="text" class="form-control" value="{{weather.name}}" name="weatherName" ng-change="changeWeather(weatherId,weatherName)" ng-model-options="{debounce:1000}" ng-model="weatherName" ng-init="weatherName=weather.name"></h2>
	          		</form>

	          		<p>{{weather.weather[0].description}}</p>
	          		<p>max: {{weather.main.temp_max}}°C</p>
	          		<p>min: {{weather.main.temp_min}}°C</p>
	          	</div>
	        </div>
</div>