<div class="col-md-{{weatherWidget.size}} move" id="{{weatherWidget.id}}" data-place="{{weatherWidget.place}}">
	<div class="panel panel-default widget" id="weather">
	          	<div class="panel-heading" ng-style="widgetHeader">
	          		<h3>Weather</h3>
	          		<div class="resize">
	          			<i class="fa fa-window-maximize" aria-hidden="true" ng-click="changeSize(weatherWidget.id, weatherWidget.size); weatherWidget.size = newWidgetSize;" data-toggle="tooltip" title="Resize widget" onmouseenter="$(this).tooltip('show')"></i>
	          		</div>
	          	</div>
	          	<div class="panel-body" ng-style="widgetBody">
	          		<h2 ng-hide="editingWeather" ng-click="editingWeather = true" data-toggle="tooltip" title="Click to edit" onmouseenter="$(this).tooltip('show')">{{weather.name}}</h2>

	          		<form ng-show="editingWeather" ng-submit="editingWeather = false">
	          			<h2><input type="text" class="form-control" ng-value="weather.name" ng-change="changeWeather(weatherWidget.id,weatherName)" ng-model-options="{debounce:1000}" ng-model="weatherName" ng-init="weatherName=weather.name" ng-style="widgetBody"></h2>
	          		</form>

	          		<p>{{weather.weather[0].description}}</p>
	          		<p>max: {{weather.main.temp_max}}°C</p>
	          		<p>min: {{weather.main.temp_min}}°C</p>
	          	</div>
	        </div>
</div>