<section id="home" class="">
	<div class="container">
	    <div class="row">
	        <div class="col-md-8 col-md-offset-2">
	            <div class="panel panel-default">
	                <div class="panel-heading">Home</div>
	                <div class="panel-body">
	                	<h1>Welcome at Chromepage</h1>
	                	<p>Your own personlized webdashboard to order your life.</p>
	                	<p>Resize, order and add widgets to your satisfaction.</p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</section>
    
 