<section id="settings" class="page">
    <section ng-include="'error.html'"></section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div ng-init="settingsView = 'widgets'">
                    <ul class="nav nav-tabs">
                      <li role="presentation" class="active"><a ng-click="settingsView = 'widgets'" data-toggle="pill">Widgets</a></li>
                      <li role="presentation"><a ng-click="settingsView = 'colors'" data-toggle="pill">Colors</a></li>
                    </ul>
                    <div class="settingsTab" id="widgetSettings" ng-show="settingsView === 'widgets'">
                        <table class="table">
                            <thead>
                              <tr>
                                <th>Widget</th>
                                <th>Delete</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="setting in settings" ng-if="setting.visible==1">
                                    <td>{{setting.widget}}</td>
                                    <!-- <input type="checkbox" name="{{setting.widget}}" value="{{setting.show}}" ng-click="toggleShow(setting.id)" ng-checked="setting.visible==1"> -->
                                    <td><i class="fa fa-btn fa-times btn btn-default" ng-click="toggleShow(setting.id)"></i></td>
                                </tr>
                            </tbody>
                        </table>
                        <h3>Add widget</h3>
                        <select class="form-control" ng-change="toggleShow(settingId)" ng-model="settingId">
                            <option disabled selected value=""> Choose a widget </option>
                            <option ng-repeat="setting in settings" ng-if="setting.visible==0" value="{{setting.id}}">{{setting.widget}}</option>
                        </select>
                    </div>
                    <div class="settingsTab" id="colorSettings" class="settingsTab" ng-show="settingsView === 'colors'">
                        <p>Create your own colorscheme.</p>
                        <table class="table">
                            <thead>
                              <tr>
                                <th>Object</th>
                                <th>Color</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Background color</td>
                                    <td><input type="color" name="backgroundcolor" value="{{user.background_color}}" ng-change="changeColor('backgroundcolor', newBackgroundColor)" ng-model="newBackgroundColor" ng-init="newBackgroundColor=user.background_color"></td>
                                </tr>
                                <tr>
                                    <td>Widget color</td>
                                    <td><input type="color" name="widgetcolor" value="{{user.widget_color}}" ng-change="changeColor('widgetcolor', newWidgetColor)" ng-model="newWidgetColor" ng-init="newWidgetColor=user.widget_color"></td>
                                </tr>
                                <tr>
                                    <td>Header color</td>
                                    <td><input type="color" name="headercolor" value="{{user.header_color}}" ng-change="changeColor('headercolor', newHeaderColor)" ng-model="newHeaderColor" ng-init="newHeaderColor=user.header_color"></td>
                                </tr>
                                <tr>
                                    <td>Font color</td>
                                    <td><input type="color" name="fontcolor" value="{{user.font_color}}" ng-change="changeColor('fontcolor', newFontColor)" ng-model="newFontColor" ng-init="newFontColor=user.font_color"></td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Or choose a theme.</p>
                        <select class="form-control" ng-change="chooseTheme(themeName)" ng-model="themeName">
                            <option disabled selected value=""> Choose a theme </option>
                            <option value="dark">Dark</option>
                            <option value="light">Light</option>
                            <option value="candy">Candy</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>